.menubutton{
	background-color: #e1e6e5;
  	color: green;
  	padding: 14px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size:3em; 
  	width:40%;
}

header{
	color:green;
	font-size:1.5em;
}

#qrcode {
  	width:100px;
  	height:300px;
  	margin-top:15px;
}

.idBoxes
{
	visibility:hidden;
}

#mainmenu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#quizsettings label{
	width:300px;
	display:inline-block;
	font-size:1.5em;
	margin-bottom:15px;
}

#quizsettings select{
	width:450px;
	display:inline-block;
	font-size:1.5em;
	margin-bottom:15px;
}

.quizbuttons{
	background-color: #e1e6e5;
  	color: green;
  	padding: 14px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	width:300px;
  	font-size:2em; 
}

button[disabled] {
	background-color: #e1e6e5;
  	color: grey;
  	padding: 14px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	width:300px;
  	font-size:2em; 
}

.quizanswers{
	font-size:1.5em;
}

#question-header, #answerLabel, #noQuestionsLabel{
	font-size:1.5em;
}

summary:focus {
    outline: none;
}

#adminCreateQuestion label, input[type=text], select{
	width:250px;
	display:inline-block;
	font-size:1em;
}

#adminCreateTopic label, input[type=text], select{
	width:250px;
	display:inline-block;
	font-size:1em;
}

#adminCreateQuestion label, input[type=text], select{
	width:250px;
	display:inline-block;
	font-size:1em;
}

#adminCreateQR label, select, input[type=text]{
	width:300px;
	display:inline-block;
	font-size:1em;
}